spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    database: mysql

  data:
    redis:
      host: localhost
      port: 6379
      connect-timeout: 5000
      password: ${REDIS_PASSWORD}

  # 아래 정보는 ClientRegistration 에 저장됨
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH2_CLIENT_ID_GOOGLE}
            client-secret: ${OAUTH2_CLIENT_SECRET_GOOGLE}
            scope:
              - profile
              - email
          naver:
            client-id: ${OAUTH2_CLIENT_ID_NAVER}
            client-secret: ${OAUTH2_CLIENT_SECRET_NAVER}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
          kakao:
            client-id: ${OAUTH2_CLIENT_ID_KAKAO}
            client-secret: ${OAUTH2_CLIENT_SECRET_KAKAO}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname # 카카오는 비즈앱 아니면 닉네임, 프로필만 가능..
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

decorator:
  datasource:
    p6spy:
      enable-logging: true
      logging: slf4j
      multiline: true

jwt:
  secret: ${JWT_SECRET}
  header: Authorization
  token-type: Bearer
  access-expiration-time: 1_800_000 # 30min
  refresh-expiration-time: 1_209_600_000 # 2weeks
